pkgbase = arduino-ide-v2-bin
	pkgdesc = Arduino prototyping platform IDE, rewrite based on the Theia IDE framework.
	pkgver = 2.3.10
	pkgrel = 1
	url = https://arduino.cc/
	arch = x86_64
	groups = ide
	license = AGPL-3.0-or-later
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libgcc
	depends = libsecret
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	optdepends = libusb: Needed for some libraries or boards
	optdepends = usbutils: Needed for stm32 boards using st-link
	optdepends = libusb-compat: Needed for the `micronucleus` cli utility
	optdepends = python-pyserial: Needed for esptool
	conflicts = arduino-ide
	conflicts = arduino-ide-git
	options = !debug
	options = !strip
	source = https://github.com/arduino/arduino-ide/releases/download/2.3.10/arduino-ide_2.3.10_Linux_64bit.zip
	sha256sums = cc8a0b01e763d4646b670ce70c1bc8c389a0fa14ab556dcc0749c03f475a7975

pkgname = arduino-ide-v2-bin
