pkgbase = zen-browser-bin
	pkgdesc = Performance oriented Firefox-based web browser
	pkgver = 1.21.6b
	pkgrel = 3
	url = https://zen-browser.app/
	arch = x86_64
	arch = aarch64
	groups = browsers
	license = MPL-2.0
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrandr
	depends = libxrender
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = hunspell: Spell checking, American English
	optdepends = hyphen: hyphenation support
	optdepends = libnotify: Notification integration
	optdepends = libva: Hardware video acceleration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = onnxruntime: Local machine learning features such as smart tab groups
	optdepends = pipewire-pulse: Audio support through PipeWire
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	optdepends = ffmpeg: Additional media format support
	conflicts = zen-browser
	conflicts = zen-browser-git
	options = !strip
	options = !debug
	source = zen.desktop
	sha256sums = 8bc43491b64acf38565b4d7adc5314757d26166decde0d5943cfc2b5e48bc0d6
	source_x86_64 = zen-browser-bin-1.21.6b-3-x86_64.tar.xz::https://github.com/zen-browser/desktop/releases/download/1.21.6b/zen.linux-x86_64.tar.xz
	sha256sums_x86_64 = eff490152c21b9a55b863b9df02370c30567e1027fe388eee939ed4082b53b20
	source_aarch64 = zen-browser-bin-1.21.6b-3-aarch64.tar.xz::https://github.com/zen-browser/desktop/releases/download/1.21.6b/zen.linux-aarch64.tar.xz
	sha256sums_aarch64 = 68df873f8b52c587a9d2fd9b46abc60c48d17e91741901ae2d0614f7ebe37469

pkgname = zen-browser-bin
