[Desktop Entry]
Type=Application
Version=1.5
Name=Zen Browser
GenericName=Web Browser
NoDisplay=false
Comment=Beautifully designed, privacy-focused, and feature packed browser.
Icon=zen-browser
#Hidden=
#OnlyShowIn/NotShowIn=
#DBusActivate=
TryExec=zen-browser
Exec=zen-browser %U
#Path=
Terminal=false
Actions=profile-manager;safe-mode;new-window;new-tab;private-window;blank-window;search;
MimeType=
#MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
#MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Categories=Network;Web Browser;
#Implements=
Keywords=Browser;Web;Internet;WWW;
StartupNotify=true
StartupWMClass=zen
PrefersNonDefaultGPU=true
SingleMainWindow=false

[Desktop Action profile-manager]
Name=Open Profile Manager
#Icon=
Exec=zen-browser --ProfileManager %U

[Desktop Action safe-mode]
Name=Open In Safe Mode
#Icon=
Exec=zen-browser --safe-mode %U

[Desktop Action new-window]
Name=Open New Window
#Icon=
Exec=zen-browser --new-window %U

[Desktop Action new-tab]
Name=Open New Tab
#Icon=
Exec=zen-browser --new-tab %U

[Desktop Action private-window]
Name=Open Private Window
#Icon=
Exec=zen-browser --private-window %U

[Desktop Action blank-window]
Name=Open Blank Window
#Icon=
Exec=zen-browser --blank-window %U

[Desktop Action search]
Name=Search for term
#Icon=
Exec=zen-browser --search %U
